* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.menuButtonSandbox {
    display: flex;
    position: fixed;
    color: white;
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    font-family: Goldman;
    text-decoration: none;
    transition: 0.4s;
    background-color: black;
}

.menuButtonSandbox:hover {
    color: red;
    border: 1px solid red;
}

.toolBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    gap: 15px;
}

.toolBar button {
    font-size: 25px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.toolBar button:hover {
    color: red;
    border: 1px solid red;
}

.propMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    font-size: 25px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.propMenu button {
    font-size: 12.5px;
    padding: 12px 24px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

input[type="range"] {
    accent-color: red;
}

#ballMenu a {
    align-self: flex-start;
    font-size: 15px;
    padding: 5px 13px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    font-family: Goldman;
    cursor: pointer;
    transition: 0.3s;
}

#ballMenu a:hover {
    color: red;
    border: 1px solid red;
}

#massiveMenu a {
    align-self: flex-start;
    font-size: 15px;
    padding: 5px 13px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    font-family: Goldman;
    cursor: pointer;
    transition: 0.3s;
}

#massiveMenu a:hover {
    color: red;
    border: 1px solid red;
}


#debugPanel {
    background-color: black;
    opacity: 50%;
    color: white;
    position: fixed;
    display: flex;
    right: 20px;
    top: 3%;
    transform: translateY(-3%);
    padding: 12px 24px;
    font-family: monospace;
    min-width: auto;
}

#velocidadP {
    position: fixed;
    font-size: 15px;
    font-weight: bold;
    font-family: Goldman;
    left: 10px;
    top: 40%;
    transform: translateY(-40%);
    color: red;
}

#velocidadF {
    position: fixed;
    font-size: 15px;
    font-weight: bold;
    font-family: Goldman;
    left: 10px;
    top: 42%;
    transform: translateY(-42%);
    color: blue;
}


